.task1 {
  margin: 10px;
  border: 1px solid red;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
.profile {
  background-color: #ffffff;
  min-width: 250px;
  border: 1px solid #d8e0ea;
  border-radius: 7px;
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.32);
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.32);
}
.profile:not(:last-child) {
  margin-right: 40px;
}
.description {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid #d8e0ea;
}
.profile .avatar {
  border-radius: 50%;
  margin-bottom: 30px;
}
.tag,
.location {
  color: #bdbdbd;
  margin-bottom: 10px;
}
.name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.stats {
  text-align: center;
  list-style: none;
  background-color: #f3f6f9;
  display: flex;
  justify-content: space-evenly;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.stats li {
  display: block;
  padding: 10px 23px;
}
.stats li:not(:last-child) {
  border-right: 1px solid #d8e0ea;
}
.label,
.quantity {
  display: block;

  font-size: 12px;
}
.quantity {
  font-weight: 700;
}
