.item {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.32);
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.32);
}
.item > *:not(:last-child) {
  margin-right: 10px;
}
.avatar {
  border-radius: 5px;
}
.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.on {
  background-color: green;
}
.off {
  background-color: red;
}
